<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Belleza Organica</title>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

    <style type="text/css">
    body {
      font-family: 'Lora', serif;
      font-size: 15px;
      color: #091f5d;
      background-color: white;
      margin: 0;
    }

    #main {
      padding: 5px;
      box-sizing: border-box;
    }

    #logo {
      width: 64px;
      border-radius: 50px;
      margin: 0 8px;
    }

    #logo-td {
      width: 80px
    }

    #header-title {
      display: inline-block;
      font-size: 1.3em;
      color: #091f5d;
    }

    #header-title span {
      display: block;
      font-size: 0.75em;
      font-weight: normal;
      color: #091f5d;
    }

    #header-table {
      width: 100%;
      max-width: 100%;
      table-layout: fixed;
      background-color: white;
    }

    .overflow-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .oxxo-sub {
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      background-color: white;
      padding: 16px;
      font-family: sans-serif;
      color: black;
      margin-top: 20px;
      font-size: 0.9em;
      max-width: 616px;
      text-align: left;
      color: #091f5d;
    }
    .oxxo-sub h3 {
      color: #9e9e9e;
    }
    .oxxo-sub ol {
      list-style: decimal;
      margin-left: 20px;
    }
    .oxxo-sub li {
      margin: 10px 0;
      color: #091f5d;
    }

    .opps-info {
      display: table;
      margin-bottom: 10px;
      color: #091f5d;
    }

    .opps-amount {
      display: table-cell;
      vertical-align: middle;
      width: 60%;
      margin-left: auto;
      color: #091f5d;
    }

    .opps-brand {
      display: table-cell;
      vertical-align: middle;
      width: 35%;
      padding-right: 16px;
    }
    .opps-brand img {
      width: 100%;
    }

    .box {
      padding: 16px;
      border-radius: 2px;
      border: 1px solid #e0e0e0;
      overflow: hidden;
      will-change: height;
      background: rgb(224,224,224);
      margin: 8px 0;
      color: #091f5d;
    }

    .add-box {
      padding: 16px;
      border-radius: 2px;
      border: 1px solid #e0e0e0;
      overflow: hidden;
      will-change: height;
      margin: 8px 0;
      max-width: 616px;
    }

    .ref-box {
      padding: 8px;
    }

    .order-table {
      margin-top: 20px;
      width: 100%;
      max-width: 650px;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      border-collapse: collapse;
      text-align: left;
      background-color: white;
      color: #091f5d;
    }
    .order-table td {
      border-bottom: 1px solid #e0e0e0;
      text-align: center;
      padding: 0 8px;
      color: #091f5d;
    }
    .order-table td img {
      width: 100%;
      max-width: 112px;
      min-width: 10px;
    }
    .order-table td:last-child {
      padding: 0;
    }
    .order-table th {
      border-bottom: 1px solid #e0e0e0;
      padding: 16px 8px;
      white-space: nowrap;
      font-size: 0.9em;
      text-align: center;
    }
    .order-table th:last-child {
      padding-right: 16px;
    }
    .order-table i {
      color: #e53a3c;
      cursor: pointer;
    }

    .order-table-foot td {
      border: none;
      text-align: right;
      padding: 5px 5px;
      font-size: 0.9em;
      color: #616161;
    }
    .order-table-foot .foot-main {
      font-size: 1em;
      color: #091f5d;
      text-align: right;
      width: 50px;
    }

    .foot-main {
      padding-right: 8px !important;
    }

    .sub-text {
      color: #757575;
      font-size: 0.9em;
    }
    .sub-text.primary {
      color: #091f5d;
    }
    .sub-text.light {
      color: #337ab7;
    }

    .xs-td {
      display: table-cell;
      width: 65%;
      color: #091f5d;
    }

    .xs-span {
      display: block;
      text-align: left;
      padding: 8px 0;
      white-space: normal;
      color: #091f5d;
    }

    .sm-td {
      display: none;
    }

    .col-xs-hide {
      display: none;
    }

    </style>
  </head>
  <body style="font-family: 'Lora', serif;font-size: 15px;color: #091f5d;background-color: white;margin: 0;">

    <table id="header-table" style="width: 100%;max-width: 100%;table-layout: fixed;background-color: white;">
      <tbody>
        <tr>
          <td id="logo-td" style="width: 80px;">
            <img id="logo" src="https://s3-us-west-1.amazonaws.com/belleza-node/web/nyr_logo.jpg" alt="Neals Yard Mexico" style="width: 64px;border-radius: 50px;margin: 0 8px;">
          </td>
          <td>
            <h1 id="header-title" style="display: inline-block;font-size: 1.3em;color: #091f5d;">
              Neal's Yard Remedies México
              <span style="display: block;font-size: 0.75em;font-weight: normal;color: #091f5d;">  Salud y Belleza Orgánica </span>
            </h1>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="main" style="padding: 5px;box-sizing: border-box;">
      <h3 style="color: #1eab30;">Pago Exitoso</h3>
      <p style="font-weight: bold">
        Hola {{user.first_name}} {{user.last_name}},
        <br>
        Hemos recibido su pago y enviaremos su pedido lo mas pronto posible
      </p>

      <p style="font-weight: bold">
        <span class="sub-text" style="color: #757575;font-size: 0.9em;">Tipo De Pago:</span> {{order.charges.payment_method.type}} <br>
        {{#checkType order.charges.payment_method.type "credit"}}
        <span class="sub-text" style="color: #757575;font-size: 0.9em;">Nombre: </span>{{order.charges.payment_method.name}} <br>
				<span class="sub-text" style="color: #757575;font-size: 0.9em;">Código de Autenticación: </span>{{order.charges.payment_method.auth_code}} <br>
				<span class="sub-text" style="color: #757575;font-size: 0.9em;">Últimos 4 Dígitos:</span> {{order.charges.payment_method.last4}}
        {{/checkType}}

        {{#checkType order.charges.payment_method.type "spei"}}
        <span class="sub-text" style="color: #757575;font-size: 0.9em;">Número de Referencia: </span>{{order.charges.payment_method.reference_number}} <br>
        {{/checkType}}
      </p>

      <table class="order-table" style="margin-top: 20px;width: 100%;max-width: 650px;border: 1px solid #e0e0e0;border-radius: 3px;border-collapse: collapse;text-align: left;background-color: white;color: #091f5d;">
        <thead>
          <tr class="col-xs-hide" style="display: none;">
            <th style="border-bottom: 1px solid #e0e0e0;padding: 16px 8px;white-space: nowrap;font-size: 0.9em;text-align: center;">Producto</th>
            <th style="border-bottom: 1px solid #e0e0e0;padding: 16px 8px;white-space: nowrap;font-size: 0.9em;text-align: center;">Descripción</th>
            <th style="border-bottom: 1px solid #e0e0e0;padding: 16px 8px;white-space: nowrap;font-size: 0.9em;text-align: center;">Precio</th>
            <th style="border-bottom: 1px solid #e0e0e0;padding: 16px 8px;white-space: nowrap;font-size: 0.9em;text-align: center;">Cantidad</th>
            <th class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;border-bottom: 1px solid #e0e0e0;padding: 16px 8px;font-size: 0.9em;text-align: center;padding-right: 16px;">Subtotal <span class="sub-text" style="color: #757575;font-size: 0.9em;">Sin IVA</span></th>
          </tr>
        </thead>

        <tbody>
          {{#each order.details}}
          <tr>
            <td style="border-bottom: 1px solid #e0e0e0;text-align: center;padding: 0 8px;color: #091f5d;">
              <img src="{{formatImageLink this.plu}}" style="width: 100%;max-width: 112px;min-width: 10px;">
            </td>

            <td class="xs-td" colspan="4" style="display: table-cell;width: 65%;color: #091f5d;border-bottom: 1px solid #e0e0e0;text-align: left;padding: 0;">
              <span class="xs-span" style="display: block;text-align: left;padding: 8px 0;white-space: normal;color: #091f5d;">
                {{this.name}}
              </span>

              <span class="xs-span" style="display: block;text-align: left;padding: 8px 0;white-space: normal;color: #091f5d;">
                <span class="sub-text" style="color: #757575;font-size: 0.9em;">Precio: </span>${{formatNumber this.price}}
              </span>

              <span class="xs-span" style="display: block;text-align: left;padding: 8px 0;white-space: normal;color: #091f5d;">
                {{this.quantity}}
              </span>

              <span class="xs-span" style="display: block;text-align: left;padding: 8px 0;white-space: normal;color: #091f5d;">
                <span class="sub-text" style="color: #757575;font-size: 0.9em;">Subtotal: </span>${{formatNumber this.sub_total}}
              </span>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <table class="order-table" style="margin-top: 20px;width: 100%;max-width: 650px;border: 1px solid #e0e0e0;border-radius: 3px;border-collapse: collapse;text-align: left;background-color: white;color: #091f5d;">
        <thead>
          <tr class="col-xs-hide" style="display: none;">
            <th style="border-bottom: 1px solid #e0e0e0;padding: 16px 8px;white-space: nowrap;font-size: 0.9em;text-align: center;"></th>
            <th style="border-bottom: 1px solid #e0e0e0;padding: 16px 8px;white-space: nowrap;font-size: 0.9em;text-align: center;"></th>
            <th style="border-bottom: 1px solid #e0e0e0;padding: 16px 8px;white-space: nowrap;font-size: 0.9em;text-align: center;"></th>
            <th style="border-bottom: 1px solid #e0e0e0;padding: 16px 8px;white-space: nowrap;font-size: 0.9em;text-align: center;"></th>
            <th class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;border-bottom: 1px solid #e0e0e0;padding: 16px 8px;font-size: 0.9em;text-align: center;padding-right: 16px;"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td style="border: none;padding: 0 8px;border-bottom: 1px solid #e0e0e0;text-align: center;color: #091f5d;"></td>
            <td style="border: none;padding: 0 8px;border-bottom: 1px solid #e0e0e0;text-align: center;color: #091f5d;"></td>
            <td style="border: none;padding: 0 8px;border-bottom: 1px solid #e0e0e0;text-align: center;color: #091f5d;"></td>
            <td style="border: none;padding: 0 8px;border-bottom: 1px solid #e0e0e0;text-align: center;color: #091f5d;"></td>
            <td style="border: none;padding: 0;border-bottom: 1px solid #e0e0e0;text-align: center;color: #091f5d;"></td>
          </tr>
        </tbody>

        <tfoot class="order-table-foot">
          <tr>
            <td colspan="4" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 5px 5px;color: #616161;border: none;font-size: 0.9em;">Subtotal: </td>
            <td class="foot-main" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 0;color: #091f5d;border: none;font-size: 1em;width: 50px;padding-right: 8px !important;">${{formatNumber order.sub_total}}</td>
          </tr>
          <tr>
            <td colspan="4" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 5px 5px;color: #616161;border: none;font-size: 0.9em;">IVA:</td>
            <td class="foot-main" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 0;color: #091f5d;border: none;font-size: 1em;width: 50px;padding-right: 8px !important;">${{formatNumber order.iva_total}}</td>
          </tr>
          <tr>
            <td colspan="4" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 5px 5px;color: #616161;border: none;font-size: 0.9em;">Costo de Envío: </td>
            <td class="foot-main" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 0;color: #091f5d;border: none;font-size: 1em;width: 50px;padding-right: 8px !important;">${{formatNumber order.shipping_total}}</td>
          </tr>
          <tr>
            <td colspan="4" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 5px 5px;color: #616161;border: none;font-size: 0.9em;">Discount:</td>
            <td class="foot-main" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 0;color: #091f5d;border: none;font-size: 1em;width: 50px;padding-right: 8px !important;">-${{formatNumber order.discount_total}}</td>
          </tr>
          <tr>
            <td colspan="4" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 5px 5px;color: #616161;border: none;font-size: 0.9em;">Total:</td>
            <td class="foot-main" style="border-bottom: 1px solid #e0e0e0;text-align: right;padding: 0;color: #091f5d;border: none;font-size: 1em;width: 50px;padding-right: 8px !important;">${{formatNumber order.total }}</td>
          </tr>
        </tfoot>
      </table>

      <div class="add-box overflow-text sub-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 16px;border-radius: 2px;border: 1px solid #e0e0e0;will-change: height;margin: 8px 0;max-width: 616px;color: #757575;font-size: 0.9em;">
        <p>Dirección de Envío</p>
        <hr>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
          {{order.shippingAddress.first_name}} {{order.shippingAddress.last_name}}
        </p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.shippingAddress.telephone}}</p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.shippingAddress.street}}</p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.shippingAddress.street2}}</p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
          {{order.shippingAddress.city}}, {{order.shippingAddress.state}}
        </p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.shippingAddress.zipcode}}</p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.shippingAddress.country}}</p>
      </div>

      {{#if order.invoiceAddress}}
      <div class="add-box overflow-text sub-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 16px;border-radius: 2px;border: 1px solid #e0e0e0;will-change: height;margin: 8px 0;max-width: 616px;color: #757575;font-size: 0.9em;">
        <p>Facturación</p>
        <p>{{order.razon_social}}</p>
        <p>{{order.rfc}}</p>
        <hr>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
          {{order.invoiceAddress.first_name}} {{order.invoiceAddress.last_name}}
        </p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.invoiceAddress.telephone}}</p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.invoiceAddress.street}}</p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.invoiceAddress.street2}}</p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
          {{order.invoiceAddress.city}}, {{order.invoiceAddress.state}}
        </p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.invoiceAddress.zipcode}}</p>
        <p class="overflow-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{order.invoiceAddress.country}}</p>
      </div>
      {{/if}}

    </div>
  </body>
</html>
